<nav>
    <div>
        <a href="../index.html" target="_parent">Partidos Mision</a>
        <a href="../pages/crearpartido.html" target="_parent">Crear Partidos</a>
        <a href="../pages/registrarse.html" target="_parent">Registrarse </a>
        <a href="../pages/iniciarSesion.html" target="_parent">Iniciar sesion</a>
        <a href="../pages/misPartidos.html" target="_parent">Mis Partidos</a>
        <a href="../pages/cerrarSesion.html" target="_parent">Cerrar sesion</a>     

    </div>
</nav>